<head>
  {% if page.title %}
    <title>{{ page.title }} | Test Page</title>
  {% else %}
    <title>Test Page: Don't Panic</title>
  {% endif %}
  {% if page.description %}
    <meta name="description" content="{{ page.description }}">
  {% else %}
    <meta name="description" content="This is a dangerous site.">
  {% endif %}
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" href="/favicon.png" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />
  <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:100" />
  <link rel="stylesheet"
        href="https://use.fontawesome.com/{{site.font_awesome_embed_code}}.css">
  <link rel="stylesheet" href="/css/main.css" />
</head>
