.dropdown {
  position: relative;

  &:hover {
    .drop-menu {
      display: block;
    }

    .drop-trigger::after {
      border-color: $orange transparent transparent;
    }
  }
}

.drop-trigger {
  display: inline-block;
  padding-right: 1.5em;
  position: relative;

  &::after {
    border: 0.3em solid;
    border-color: $white transparent transparent;
    content: "";
    height: 0;
    position: absolute;
    right: 0;
    top: 0.3em;
    width: 0;
  }
}

.drop-menu {
  box-shadow: 0 0 10px 0 $light-shadow;
  display: none;
  list-style: none;
  padding: 1em 0 0;
  position: absolute;
  right: 0;
  z-index: 9;

  &::before {
    border: 0.6em solid;
    border-color: transparent transparent $white;
    content: "";
    height: 0;
    position: absolute;
    right: 1em;
    top: -0.1em;
    width: 0;
  }

  a {
    color: $darker-grey;
    display: block;
    font-weight: normal;
    padding: 0.5em 2em 0.5em 1em;
    text-align: left;
    text-transform: none;
    white-space: nowrap;

    &:hover {
      background-color: $transparent-black;
      color: $darker-grey;
    }
  }

  li {
    background-color: $white;
    font-size: 0.5rem;

    ~ li {
      border-top: 1px dotted $transparent-black;
      font-size: 0.2rem;
    }

    &:first-child {
      border-radius: 5px 5px 0 0;
      color: $light-grey;
      font-weight: 0.5em;
      padding: 1em 1em 0.25em;
      text-align: right;
      text-transform: uppercase;
    }

    &:last-child {
      border-radius: 0 0 5px 5px;
    }
  }
}

.footer {
  // Hide menu in the footer
  .dropdown:hover .drop-menu,
  .drop-trigger::after {
    display: none;
  }

  .drop-trigger {
    padding-right: 0;
  }
}
