.footer {
  background-color: $black;
  padding: 10vh 0 15vh;
  text-align: center;

  h3 {
    color: $white;
    padding-top: 1.5em;
    text-transform: uppercase;

    span {
      color: $dark-light-grey;
    }
  }

  img {
    width: 50px;
  }
}

.footer-nav {
  a {
    color: $footer-link-color;
  }

  li {
    display: inline-block;
    margin: 2em 1em 0;
  }
}
