html {
  box-shadow: 0 0 0 30px #000 inset;
  padding: 0 30px;

  @media (max-width: 800px) {
    box-shadow: none;
    padding: 0;
  }
}

body {
  display: flex;
  flex-direction: column;
  font-family: "Open Sans", helvetica, arial, sans;
  min-height: 100vh;
}

.content-container {
  display: flex;
  flex: 1 1 auto;
  /* flex-grow: 1; */
  /* flex-shrink: 0; */
  /* flex-basis: auto; */
  padding-top: 10vh;
  width: 100%;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Raleway", helvetica, sans;
  font-weight: 100;
}

h1 {
  font-size: 7vw;
  margin-top: 0;
}

h2 {
  font-size: 2em;

  & ~ p {
    font-size: 0.8em;
    font-style: italic;
    margin: 1em auto 0;
    max-width: 70%;
    text-align: center;
  }
}

h4 {
  color: #999;
  font-weight: bold;
  text-transform: uppercase;
}

a {
  color: #6397b5;
}

p {
  line-height: 1.5;
  margin: 0.75em 0;
}
