.home-callout {
  align-items: center;
  background-color: #000;
  color: #fff;
  display: flex;
  padding: 7vh 0;
  @media (max-width: 800px) {
    flex-direction: column;
  }
}

.callout-title {
  flex: 1;
  /* flex: 1 1 0; */
  /* flex-grow: 1; */
  /* flex-shrink: 1; */
  /* flex-basis: 0; */
  font-size: 5.75vw;
  text-align: right;
  text-transform: uppercase;
}

.callout-copy {
  flex: 0 0 45em;
  /* flex-grow: 0; */
  /* flex-shrink: 0; */
  /* flex-basis: 45em; */
  font-size: 0.8rem;
  padding: 0 3vw;

  @media (max-width: 800px) {
    flex: 1;
  }
}

.home-section {
  margin: 6rem auto;
  max-width: 980px;
  width: 90vw;

  h2 {
    margin-bottom: 1.5rem;
    text-align: center;
  }

  h4 {
    margin-bottom: 0.5rem;
    text-align: center;
  }

  .post-header {
    text-align: center;
  }

  .blog-posts {
    margin: auto;
    width: 75%;
  }
}
