.social-link {
  background: rgba(150, 150, 150, 0.5);
  border-radius: 99px;
  box-sizing: border-box;
  color: white;
  display: inline-block;
  font-family: helvetica, arial, sans;
  font-size: 1.7em;
  font-weight: bold;
  height: 1.5em;
  line-height: 1;
  padding-top: 0.25em;
  text-align: center;
  text-decoration: none;
  width: 1.5em;
}

.social-list {
  list-style: none;
  padding: 0;
  text-align: center;

  & > li {
    display: inline-block;
    margin: 0 0.5em;
  }
}
