$black: #000;
$darker-grey: #333;
$dark-light-grey: #aaa;
$footer-link-color: #ccc;
$grey: #444;
$light-grey: #999;
$light-shadow: rgba(0, 0, 0, 0.2);
$ocean-blue: #6397b5;
$ocean-color: #c7dbfc;
$orange: #ed6e2f;
$transparent-black: rgba(0, 0, 0, 0.1);
$transparent-grey: rgba(150, 150, 150, 0.5);
$transparent-white: rgba(255, 255, 255, 0.8);
$very-transparent-black: rgba(0, 0, 0, 0.01);
$very-transparent-white: rgba(255, 255, 255, 0.3);
$violet: #556c83;
$white: #fff;
